/*.app-cursor {*/
/*    z-index: 1000;*/
/*    border-radius: 50%;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    color: #3cda64;*/
/*    border: 1px solid #a1a1a1;*/
/*    pointer-events: none;*/
/*    overflow: hidden;*/
/*    transform: translate3d(0,0,0);*/
/*    position: fixed;*/
/*    backdrop-filter: blur(2px);*/

/*}*/

.app-cursor {
    position: fixed;
    z-index: 1000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3cda63;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
}

html,
body {
    &,
    * {
        cursor: none;
    }
}

