@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #FAFAFA;
}

html.dark {
  background-color: #080808;
  font-family: 'Manrope', sans-serif;
}

html.dark p,
html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #FAFAFA; /* Light text for dark mode */
}

html.dark div
{
  background-color: #080808;
}

html.dark span:hover {
  color: #FAFAFA;
}

html.dark #footer1 {
  background-color: #131313;
  border-color: #646464;
}

html.dark #based {
  color: #808080;
}

html.dark #tags {
  border-color: #2b2b2b;
}

html.dark #transparency {
  background-color: transparent;
}

html.dark #borgor {
  &::after,
  &::before {
    background-color: white;
  }
}

html.dark #footerContent {
  background-color: #131313;
}

html.dark .list-dot {
  background-color: #3cda64;
}

html.dark #newLine {
  border-color: #646464;
  color: #646464;
}





