@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #FAFAFA;
}

#hero {
  font-family: 'Libre Baskerville', serif;
}

::selection {
  background-color: #3cda64;
  color: white;
}

.selection-group::selection {
  background-color: #3cda64;
  color: white;
}

.selection-group span::selection {
  background-color: #3cda64;
  color: white;
}

html.dark  #appCursor {
  border: 1px solid #a1a1a1;
  backdrop-filter: blur(3px);
  background: transparent;
}

html.dark {
  background-color: #080808;
  font-family: 'Manrope', sans-serif;
}

html.dark p,
html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #FAFAFA;
}

html.dark div
{
  background-color: #080808;
}

html.dark span:hover {
  color: #FAFAFA;
}

html.dark #footer1 {
  background-color: #131313;
  border-color: #646464;
}

html.dark #based {
  color: #808080;
}

html.dark #tags {
  border-color: #2b2b2b;
}

html.dark #transparency {
  background-color: transparent;
}

html.dark #borgor {
  &::after,
  &::before {
    background-color: white;
  }
}

html.dark #footerContent {
  background-color: #131313;
}

html.dark .list-dot {
  background-color: #3cda64;
}

html.dark #newLine {
  border-color: #646464;
  color: #646464;
}

html.dark #antiDark {
  color: #141517;
}

html.dark #grayText {
  color: #141517;
}

html.dark #arrowButton {
  background-color: #3cda64;
}

html.dark #projectTag {
  background-color: #3cda64;
}

#about {
  scroll-margin-top: 20vh;
}

#craft {
  scroll-margin-top: 20vh;
}

html.dark #descriptionTag {
  border-color: #646464;
  background-color: #151515;
}

html.dark #descriptionTag:hover {
  background-color: #2d2d2d;
}

html.dark #spotifyText {
  color: #3cda64;
}

html.dark #gallery {
  background-color: #242424;
  color: white;
}







