/* footer.css */
.list-container {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
}

.list-text {
    font-size: 1.1rem; /* Adjust size as needed */
    color: #333;
    margin: 0;
    transition: transform 0.2s ease-in-out;
}

.list-dot {
    width: 5px;
    height: 5px;
    background-color: #3cda64;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: -0px; /* Position the dot to the left of the text */
    transition: opacity 0.1s ease-in-out;
}

.list-container:hover .list-text {
    transform: translateX(10px); /* Keep the text in its initial position */
}

.list-container:hover .list-dot {
    opacity: 1; /* Show the dot when hovering */
}
